.app {
    text-align: center;
}

.app-header {
    background-color: #222;
    height: 2em;
    padding: 20px;
    color: white;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    font-size: 1em;
}

.app-title {
    font-size: 1.5em;
}

.app-body{
    min-height: 700px;
}
.app-body--home {
    min-height: 700px;
    /*
    background-image: url("../../../../public/race-volunteers.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;*/
}

.app-footer {
    padding: 10px 0;
    width: 100%;
    background-color: white;
    text-align: center;
}

#nav-title{
    margin-right: auto;
    color: white;
}

.nav__links{
    list-style: none;
    cursor:pointer;
    padding: 0px 20px;
    transition: all 0.3s ease-in 0s;
}

#sign-in-link{
    text-decoration: none;
    cursor:pointer;
    color:#FFF;
}

#sign-in-link:hover{
    color:#0088a9
}

a:any-link {
    text-decoration-line: none;
}

#sign-up-button{
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border:none;
    border-radius: 50px ;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #FFF;
    font-size: 1em;
}

#sign-up-button:hover{
    background-color: rgba(0,136,169,0.8);
}

/* Body page */
#body-wrapper{
    background: white;
    border-radius: 5px;

    max-width: 500px;
    margin: 20px auto;
    padding: 10px;
}

/* Sign-in page */
#sign-in-wrapper{
    background: white;
    border-radius: 10px;

    max-width: 500px;
    margin: 20px auto;
    padding: 10px;
}

/* Sign-up page */
#sign-up-wrapper{
    background: white;
    border-radius: 5px;

    max-width: 500px;
    margin: 20px auto;
    padding: 10px;
}

.name-link {
    color: #E354FF;
    cursor: pointer;
}

.buttonSecondary {
    background-color: #c634e2;
    color: #fff;
    padding: 6px 12px;
    border-radius: 6px;
    display: inline-block;
    border:none;
}
.buttonGrey {
    background-color: #A0A0A0;
    color: #fff;
    padding: 6px 12px;
    border-radius: 6px;
    display: inline-block;
    border:none;
}
/*#1EE3A3 Color Triada El que tenia antes #1ec7cd*/
.mainButton {
    background-color: #1ec7cd;
    color: #fff;
    padding: 9px 18px;
    border-radius: 6px;
    display: inline-block;
    border:none;
}

/* otra alternativa con grises: #f2f2f2, #d9d9d9*/
.card-main {
    background: linear-gradient(to bottom, #f2f2f2, #ffffff);
    border: none;
}

.phone-input-container {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.phone-input {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.phone-input input {
    border: none;
    background: transparent;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    max-width: 200px;
}

.phone-input input:first-child {
    width: 70px;
    text-align: center;
}

.default-main-section {
    position: relative;
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.join-text {
    color: #000000;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: left;
    margin-bottom: 1rem;
}

.button-group {
    display: flex;
    justify-content: flex-start;
    gap: 4rem;
}

.background-secondary-image {
    height: 100%;
    width: 100%;
    background-image: url('../../../../public/having-plants.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(90%);
}

.page-wrapper {
    background-color: #ffffff;
}

.carousel-wrapper {
    position: relative;
    width: 100%;
    max-height: 90vh; /* Value to adjust the carousel height */
}
.slide-image{
    height: 90vh;
    background-size: cover;
    background-position: bottom;
}
.slide-image-center{
    height: 90vh;
    background-size: cover;
    background-position: center;
}


.custom-caption{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}