.status-pending {
    color: #FFA500;
}

.status-approved {
    color: #7CFC00;
}

.status-accepted {
    color: #90EE90;
}

.status-scheduled {
    color: #D4B50D
}
.status-rejected {
    color: #F6581B
}
.status-deleted {
    color: #FF1D00
}
